name: Test

on:
  pull_request:
    paths-ignore:
      - "README.md"

# Testing only needs permissions to read the repository contents.
permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        os:
          - macos-latest
    name: test
    runs-on: matrix.os
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0

      - run: nix flake check

      - run: nix develop --command echo "Hello, World!"

      - run: nix develop --command aws --version
      - run: nix develop --command direnv --version
      - run: nix develop --command docker --version
      - run: nix develop --command docker-compose --version
      - run: nix develop --command git --version
      - run: nix develop --command grep --version
      - run: nix develop --command htop --version
      - run: nix develop --command jq --version
      - run: nix develop --command scc --version
      - run: nix develop --command vim --version
      - run: nix develop --command zsh --version
